---
import '../styles/global.css'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About | Geophysics.info</title>
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        <section>
            <h1>About Applied Geophysics.info</h1>
            <p>
                The home page of AppliedGeophyscis.info serves as an overview of
                geophysical methods. Each category, method and application is a
                link, leading you to a page with an explanation with additional
                reading material and sources.
            </p>
            <p>
                The idea is that the content of the geophysical applications
                will be provided by geophysics professionals from different
                industries and academia.
            </p>
        </section>
    </body>
</html>
