---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Applied Geophysics.info</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
		</nav>
		<section>
			<h1>Applied Geophysics.info</h1>
			<div>
				<a href="/seismic">Seismic</a>:
				<a href="/seismic/srt">Seismic Refraction Tomography (SRT)</a>
				<a href="/seismic/reflection">Reflection seismics</a>
			</div>
			<br>
			<div>
				<a href="/em">ElectroMagnetic (EM)</a>:
				<a href="/em/gpr">Ground Penetrating Radar (GPR)</a>
				<a href="/em/ert">Electrical Resistivity Tomography (ERT)</a>
				<!-- <a href="/em/tem">Time domain ElectroMagnetics</a> -->
				<!-- <a href="/em/fem">Frequency domain ElectroMagnetics</a> -->
			</div>
			<h3>ELI5</h3>
			<p>
				Geophysics is like a big game of "guess what's inside the
				Earth!" Scientists use special tools to measure things like
				earthquakes, magnetic fields, and heat to help them understand
				what the Earth is made of and what's going on inside.
			</p>
			<p>
				It's kind of like when you play "guess what's in the box" by
				shaking it, listening to it, or feeling it. But instead of a
				box, geophysicists are trying to guess what's inside the Earth!
			</p>
			<p>
				With the help of geophysics, scientists have been able to make
				pictures of what's inside the Earth, kind of like taking an
				X-ray of your body at the doctor's office. These pictures help
				us understand things like earthquakes, volcanoes, and even how
				the Earth's magnetic field works.
			</p>
			<h3>Layman's terms</h3>
			<p>
				Geophysics is the study of the physical properties and processes
				of the Earth and other planets. It is a branch of science that
				uses physics and mathematics to understand the Earth's
				structure, composition, and dynamics.
			</p>
			<p>
				Geophysicists study a wide range of phenomena, from the behavior
				of seismic waves during earthquakes to the way magnetic fields
				are generated in the Earth's core. They use a variety of
				techniques, including seismic imaging, gravity measurements, and
				electromagnetic surveys, to collect data about the Earth's
				interior and surface.
			</p>
			<p>
				The information collected through geophysics can be used to
				better understand natural hazards like earthquakes and
				volcanoes, as well as to explore for natural resources like oil,
				gas, and minerals. It can also help us to understand the
				evolution of the Earth over time and its place in the larger
				universe.
			</p>
		</section>
	</body>
</html>
