---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Test page";
const description = "Test page of appliedgeophysics.info";

const happy: boolean = true;
const finished: boolean = false;
const goal: number = 3;
---

<BaseLayout content={{ title, description }}>
  <h3 class="my-3">Conditional rendering</h3>
  {happy && <p>I'm happy to be learning Astro.build</p>}
  {finished && <p>I have finished the Astro.build tutorial</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish within 3 weeks</p>
    ) : (
      <p>My goal is not to finish within 3 weeks</p>
    )
  }
</BaseLayout>
