---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
---

<header class="flex flex-wrap items-center justify-between py-4">
    <a href="/" class="flex items-center">
      <Logo />
      <!-- <span
        class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
        >Geophysics.info</span
      > -->
    </a>
    <Nav />
</header>
