---
import { Icon } from "astro-icon";
import Nav from "./Nav.astro";
---

<header
  class="flex flex-wrap items-center justify-between border-b border-globe-sea-blue py-4"
>
  <a href="/" title="Home">
    <Icon name="geophysics-info" class="h-8 w-8 hover:scale-110" />
  </a>
  <Nav />
</header>
