---
import { NAV_ITEMS } from "../config";
import Socials from "./Socials.astro";
const currentPath = Astro.url.pathname;
---

<button
  type="button"
  id="navbarCollapseToggle"
  aria-controls="navbar"
  aria-expanded="false"
  class="p-1 text-globe-dark hover:scale-110 md:hidden"
>
  <span class="sr-only">Open main menu</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    class="h-6 w-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>
</button>

<nav id="navbar" class="hidden w-full md:block md:w-auto">
  <ul
    class="mx-12 flex flex-col md:m-0 md:flex-row md:items-center md:space-x-6"
  >
    {
      Object.keys(NAV_ITEMS).map((navItemKey) => (
        <li class="block py-2 font-medium">
          {currentPath === NAV_ITEMS[navItemKey].path ? (
            <p aria-current="page" class="text-globe-sea-blue">
              {NAV_ITEMS[navItemKey].title}
            </p>
          ) : (
            <a
              href={NAV_ITEMS[navItemKey].path}
              title={NAV_ITEMS[navItemKey].title}
              class="text-globe-dark hover:text-globe-sea-blue hover:underline"
            >
              {NAV_ITEMS[navItemKey].title}
            </a>
          )}
        </li>
      ))
    }
    <li class="py-2"><Socials /></li>
  </ul>
</nav>

<script>
  import { Collapse } from "../scripts/collapse";

  const $navbar = document.getElementById("navbar");
  const $navbarCollapseToggle = document.getElementById("navbarCollapseToggle");

  if ($navbar && $navbarCollapseToggle) {
    new Collapse($navbar, $navbarCollapseToggle);
  }
</script>
