---
import type { BaseHeadProps } from "../components/BaseHead.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  content: BaseHeadProps;
  showPageHeading?: boolean;
}

const { content, showPageHeading = true } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={`${content.title} | Geophysics.info`}
      description={content.description}
    />
  </head>
  <body class="mx-auto px-4 md:px-6">
    <Header />
    {
      showPageHeading && (
        <div class="page__header">
          <h1 class="page__title">{content.title}</h1>
          <h5 class="page__desc">{content.description}</h5>
        </div>
      )
    }
    <main>
      <slot />
    </main>
    <Footer />

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
